<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
    <%- include("partials/head.ejs") %> 
<body>
	<!-- Header -->
	<%- include("partials/headerLogueado.ejs") %> 
	<!-- /Header -->

	<!-- product detail -->
    <% if(data.id_product = null){ %> 
		<p>No pudimos encontrar el producto que buscás.</p>
	<% } else { %>
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= data.name_product %> </h2>
            <h3 class="product-detail-description">Producto subido por: <a class="productDetail" href="/users/profile/<%= data.users.id_user %>"> <%=data.users.user %> </a></h3>
				<% if (locals.user){ %> 
					<% if (locals.user.id_user == data.id_user ){ %> 
						<div class="icono">
							<a class="products-title" href="/products/product-edit/<%= data.id_product %>">Editar</a>
							<form action="/products/destroy/<%= data.id_product %>" method="POST">
								<button class="btntrash" type="submit"> <i class="fas fa-trash"></i></button>
							</form>
						</div>
					<% } %>
				<% } %>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= data.image_product %>"   alt="" class="imagenProducto">
					<p class="product-detail-description">
						<%= data.description %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
                        <% for(let i=0; i< data.comments.length ; i+=1) { %>
						<article>
							<img src= "/images/users/<%= data.comments[i].users.image_profile %> "  alt="">
							<div class="data">
								<p class="user">
								<strong><a href="/users/profile/<%= data.comments[i].users.id_user %> "><%= data.comments[i].users.user %>:</a></strong>
								<%= data.comments[i].comment %>  </p>

								<% if(locals.user) { %>
                                    <% if (locals.user.id_user == data.comments[i].users.id_user){ %> 
                                    <form action="/products/destroyComment/<%= data.comments[i].id_comment %>" method="POST">
                                        <button class="btntrash fas fa-trash fa-2x" type="submit"></button>
                                    </form>
                                    <% } %>
                                <% } %>
							</div>
						</article>
                        <% } %> 

					</section>
					<form class="form" action="/products/product/<%= data.id_product %>/comment" method="POST">
						<input class="form-input" name="comment" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
    <% } %>
	<!-- /product detail -->

	<!-- footer -->
	<%- include("partials/footer.ejs") %> 
	<!-- /footer -->

</body>	
</html>