<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("partials/head.ejs") %> 
<!-- /Include Head -->
<body>
	<!-- Header -->
	<%- include("partials/headerLogueado.ejs") %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->

            <div class="containerForm">
                <div class="contact-form">
                    <form action="/products/product-edit/<%= data.id_product %>/update" method="POST" enctype="multipart/form-data">
                        <p>
                            <label class="formLabel">Nombre del producto</label>
                            <input class="inputForm" type="text" value="<%= data.name_product %> " name="name_product">
                        </p>
                        <p>
                            <label class="formLabel">Imagen</label>
                            <input class="inputForm" type="file" name="image_product">
                        </p>
                        <p>
                            <label class="formLabel">Descripcion</label>
                            <input class="inputForm" type="text" value="<%= data.description %> " name="description">
                        </p>
                        <p class="block">
                            <button type="submit">
                                EDITAR PRODUCTO
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>	
    </div>	


	<!-- footer -->
	<%- include("partials/footer.ejs") %> 
	<!-- /footer -->
</body>

</html>