<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
    <%- include("partials/head.ejs") %> 
<body>
	<!-- Header -->
	<%- include("partials/headerLogueado.ejs") %> 
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src= "/images/users/<%= data.image_profile %>"  alt="foto de <%= data.user %> " class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="profileText"> <%= data.user %> 
						<a href="/users/profile-edit/<%= data.id_user %>">
                            <i class="fas fa-cog"></i>
						</a>
					</h1>
                    <% if(locals.user != undefined ) { /* Si no esta logueado no puede seguir a nadie */
						if(locals.user.id_user != data.id_user) { /* un usuario no puede seguirse a si mismo */
						let cont = 0;
						for (let i = 0; i < data.leSiguen.length; i++) { /* recorremos cant de seguidores de la persona */
							if(data.leSiguen[i].id_seguidor == locals.user.id_user) { /* si dentro de los seguidores de esa persona, se encuentra el id_seguidor (la persona que sigue) que es igual al id del usuario logueado -> cont=1*/
								cont = 1;
							}
						}
						if(cont == 1) { %>
							<a href='/users/seguir/id/<%= data.id_user %>' class="btn mt-3 ml-4">Dejar de seguir</a>
					<% } else { %>
						    <a href='/users/seguir/id/<%= data.id_user %>' class="btn mt-3 ml-4">Seguir</a>
					<% }}} %> 
				</div>
                <p class="datosProfile"><%= data.email %></p> 
				<div>
					<ul class="">
						<li class="datosProfile"> <%= data.products.length %> productos </li>
						<li class="datosProfile"> Sigue a <%= data.sigue.length %> personas </li>
						<li class="datosProfile"> Lo siguen <%= data.leSiguen.length %> seguidores</li>
						<li class="datosProfile"> <%= data.comments.length %> comentarios </li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% if(data.products.length != 0) {  %> 
			<% for(let i=0; i< data.products.length ; i+=1) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/products/product/<%= data.products[i].id_product %> ">
                            <figure class="product-box_image">
                                <img src= "/images/products/<%= data.products[i].image_product %> " alt="card">
                            </figure>
                            <article class="product-box_data">
                                <h2> <%= data.products[i].name_product %>  </h2>
                                <p> <%= data.products[i].description %>  </p>
                                <p>Comentarios: <%= data.products[i].comments.length %> </p>
                            </article>
                        </a>
                    </section>
                </div>
            <% } %> 
			<% }else { %>
				<div class="page">
					<p>No hay ningún producto para mostrar</p>
				</div>
			<% } %>

		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include("partials/footer.ejs") %> 
	<!-- /footer -->
</body>	
</html>