<!DOCTYPE html>
<html lang="es">

    <%- include("partials/head.ejs") %> 

<body>
     
    <%- include("partials/headerLogueado.ejs") %> 
	
	<!-- RESULTADO DE BUSQUEDA -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
            <% for(let i=0; i< data.productos.length ; i+=1) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/products/product">
                            <figure class="product-box_image">
                                <img src= <%= data.productos[i].imagen %>  alt="autos" class="imgCards">
                            </figure>
                            <article class="product-box_data">
                                <h2> <%= data.productos[i].nombreProducto %>  </h2>
                                <p> <%= data.productos[i].descripcion %>  </p>
                                <p>Comentarios: 12</p>
                            </article>
                        </a>
                    </section>
                </div>
            <% } %> 
        </div>
    </div>
        


			
 <!-- NOVEDADES -->
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Novedades</h2>
                    </div>
                
                    <% for(let i=0; i< data.productos.length ; i+=1) { %>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <section class="product-box">
                                <a href="/products/product">
                                    <figure class="product-box_image">
                                        <img src= <%= data.productos[i].imagen %> alt="autos" class="imgCards">
                                    </figure>
                                    <article class="product-box_data">
                                        <h2> <%= data.productos[i].nombreProducto %>  </h2>
                                        <p> <%= data.productos[i].descripcion %>  </p>
                                        <p>Comentarios: 12</p>
                                    </article>
                                </a>
                            </section>
                        </div>
                    <% } %> 
                </div>
            </div>
            
	<!-- footer -->
    <%- include("partials/footer.ejs") %> 
	<!-- /footer -->
</body>

</html>